In [1]:
import numpy as np
import pandas as pd

# <center>DM Under Uncertainity</center>

## MaxiMax Criterion or Optimistic Criterion

In [2]:
maximax_inputs = np.array([
    [50000, 25000, -25000, -45000],
    [70000, 30000, -40000, -80000],
    [30000, 15000, -1000, -10000]
])
maximax_df = pd.DataFrame(data=maximax_inputs,
                          index=['Expand', 'Construct', 'Subcunstruct'],
                          columns=['High', 'Moderate','Low', 'NIL'])

In [3]:
maximax_df

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

In [4]:
def maximax_method(inputs):
    print('############### MaxiMax Method ###############\n')
    print(inputs)
    print('\n############# Max of rows #############\n')
    print(inputs.max(axis=1))
    print(f'\n\nOur best alternative in maximax method is {inputs.max(axis=1).idxmax()}')

In [5]:
maximax_method(maximax_df)

############### MaxiMax Method ###############

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

############# Max of rows #############

Expand          50000
Construct       70000
Subcunstruct    30000
dtype: int32


Our best alternative in maximax method is Construct

## MaxiMin method or Pessimistic Criterion

In [6]:
maximin_inputs = np.array([
    [50000, 25000, -25000, -45000],
    [70000, 30000, -40000, -80000],
    [30000, 15000, -1000, -10000]
])
maximin_df = pd.DataFrame(data=maximin_inputs,
                          index=['Expand', 'Construct', 'Subcunstruct'],
                          columns=['High', 'Moderate','Low', 'NIL'])

In [7]:
maximin_df

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

In [8]:
def maximin_method(inputs):
    print('############### Maximin Method ###############\n')
    print(inputs)
    print('\n############# Min of rows #############\n')
    print(inputs.min(axis=1))
    print(f'\n\nOur best alternative in maximin method is {inputs.min(axis=1).idxmax()}')

In [9]:
maximin_method(maximin_df)

############### Maximin Method ###############

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

############# Min of rows #############

Expand         -45000
Construct      -80000
Subcunstruct   -10000
dtype: int32


Our best alternative in maximin method is Subcunstruct

## MiniMax Method or Regret (Savage Criterion)

In [10]:
minimax_inputs = np.array([
    [50000, 25000, -25000, -45000],
    [70000, 30000, -40000, -80000],
    [30000, 15000, -1000, -10000]
])
minimax_df = pd.DataFrame(data=minimax_inputs,
                          index=['Expand', 'Construct', 'Subcunstruct'],
                          columns=['High', 'Moderate','Low', 'NIL'])

In [11]:
minimax_df

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

In [26]:
def minimax_method(inputs):
    print('############### MiniMax Method for Seller ###############\n')
    print(inputs)
    print('\n############### Calculation of regret for seller ###############\n')
    regret = minimax_df.max() - minimax_df
    print(regret)
    print('\n############### Max of rows of seller ###############\n')
    print(regret.max(axis=1))
    print('\n############### Best Alternative for seller ###############\n')
    print(f'Our best alternative is {regret.max(axis=1).idxmin()}\n')
    print('############### MiniMax Method for Buyyer ###############\n')
    print(inputs)
    print('\n############### Calculation of regret for Buyyer ###############\n')
    regret =  minimax_df - minimax_df.min()
    print(regret)
    print('\n############### Max of rows of Buyyer ###############\n')
    print(regret.min(axis=1))
    print('\n############### Best Alternative for Buyyer ###############\n')
    print(f'Our best alternative is {regret.min(axis=1).idxmax()}')

In [27]:
minimax_method(minimax_df)

############### MiniMax Method for Seller ###############

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

############### Calculation of regret for seller ###############

               High  Moderate    Low    NIL
Expand        20000      5000  24000  35000
Construct         0         0  39000  70000
Subcunstruct  40000     15000      0      0

############### Max of rows of seller ###############

Expand          35000
Construct       70000
Subcunstruct    40000
dtype: int32

############### Best Alternative for seller ###############

Our best alternative is Expand

############### MiniMax Method for Buyyer ###############

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

############### Calculation of regret for Buyyer ###############

               High  Moderate    Low    NIL
Expand        20000     10000  15000  35000
Construct     40000     15000      0      0
Subcunstruct      0         0  39000  70000

############### Max of rows of Buyyer ###############

Expand          10000
Construct           0
Subcunstruct        0
dtype: int32

############### Best Alternative for Buyyer ###############

Our best alternative is Expand

## Hurwicz Criterion or Criteron of Realism

In [14]:
hurwicz_inputs = np.array([
    [50000, 25000, -25000, -45000],
    [70000, 30000, -40000, -80000],
    [30000, 15000, -1000, -10000]
])
hurwicz_df = pd.DataFrame(data=hurwicz_inputs,
                          index=['Expand', 'Construct', 'Subcunstruct'],
                          columns=['High', 'Moderate','Low', 'NIL'])
alpha = 0.8

In [15]:
hurwicz_df

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

In [16]:
def hurwicz_criterion(inputs, alpha):
    print('############### Hurwicz Criterion ###############\n')
    print(inputs)
    alpha_betha = np.array([alpha, 1 - alpha])
    inputs_row_max = inputs.max(axis=1)
    inputs_row_min = inputs.min(axis=1)
    datas = {
        'max': inputs_row_max,
        'min': inputs_row_min
    }
    print('\n############### Hurwicz Criterion Max Min ###############\n')
    max_min_df_hurwicz = pd.DataFrame(data=datas, index=inputs.index)
    print(max_min_df_hurwicz)
    print('\n############### Hurwicz Criterion H\'s ###############\n')
    print('We multiply Max by alpha and min by (1 - alpha) then we sum them\n')
    h = max_min_df_hurwicz @ alpha_betha
    print(h)
    print('\n############### Best Alternative ###############\n')
    print(f'Our best alternative is {h.idxmax()}')

In [17]:
hurwicz_criterion(hurwicz_df, alpha)

############### Hurwicz Criterion ###############

               High  Moderate    Low    NIL
Expand        50000     25000 -25000 -45000
Construct     70000     30000 -40000 -80000
Subcunstruct  30000     15000  -1000 -10000

############### Hurwicz Criterion Max Min ###############

                max    min
Expand        50000 -45000
Construct     70000 -80000
Subcunstruct  30000 -10000

############### Hurwicz Criterion H's ###############

We multiply Max by alpha and min by (1 - alpha) then we sum them

Expand          31000.0
Construct       40000.0
Subcunstruct    22000.0
dtype: float64

############### Best Alternative ###############

Our best alternative is Construct

## LAPLACE Criterion or Equal Probability

In [18]:
laplace_inputs = np.array([
    [4000, -100, 6000, 18000],
    [20000, 5000, 400, 0],
    [20000, 15000, -2000, 1000]
])
laplace_df = pd.DataFrame(data=laplace_inputs,
                          index=['S1', 'S2', 'S3'],
                          columns=['N1', 'N2','N3', 'N4'])

In [19]:
laplace_df

       N1     N2    N3     N4
S1   4000   -100  6000  18000
S2  20000   5000   400      0
S3  20000  15000 -2000   1000

In [20]:
def laplace_criterion(inputs):
    print('############### LAPLACE Criterion ###############\n')
    print(inputs)
    laplace_row_sum = inputs.sum(axis=1)
    print('\n############### Rows Sum ###############\n')
    print(laplace_row_sum)
    print('\n############### Row Sums divided by Column Size ###############\n')
    laplace_row_sun_divice_by_columns_size = laplace_row_sum / inputs.shape[1]
    print(round(laplace_row_sun_divice_by_columns_size, 3))
    print('\n############### Best Alternative ###############\n')
    print(f'Our best alternative is {laplace_row_sun_divice_by_columns_size.idxmax()}')

In [21]:
laplace_criterion(laplace_df)

############### LAPLACE Criterion ###############

       N1     N2    N3     N4
S1   4000   -100  6000  18000
S2  20000   5000   400      0
S3  20000  15000 -2000   1000

############### Rows Sum ###############

S1    27900
S2    25400
S3    34000
dtype: int64

############### Row Sums divided by Column Size ###############

S1    6975.0
S2    6350.0
S3    8500.0
dtype: float64

############### Best Alternative ###############

Our best alternative is S3